body{
    margin:0;
    font-family:"Poppins", Arial, sans-serif;
    background:linear-gradient(135deg,#EAF6FF,#F7F1FF);
    color:#3B4252;
}

header{
    background:linear-gradient(135deg,#A8D8EA,#CDB4DB);
    color:#ffffff;
    padding:25px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

nav a{
    color:#ffffff;
    text-decoration:none;
    margin:0 12px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#FFF3B0;
}

.container{
    width:80%;
    margin:40px auto;
    text-align:center;
    animation:slideDown 1s ease;
}
}

.card{
    background:rgba(255,255,255,0.8);
    padding:25px;
    margin:20px auto;
    border-radius:20px;
    max-width:600px;
    box-shadow:0 10px 25px rgba(170,170,200,.25);
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(150,150,200,.35);
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#9AD0F5;
    color:white;
    border-radius:30px;
    text-decoration:none;
    transition:.3s;
}

.btn:hover{
    background:#B8A4FF;
    transform:scale(1.05);}
img{
    border-radius:50%;
    border:5px solid white;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

@keyframes slideDown{
    from{
        opacity:0;
        transform:translateY(-60px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
